body{
    text-align: center;
    background-color: #afba14;
}
a:hover
{
    text-decoration: dotted;
}
a:active{
    background-color: aqua;
}
a:visited{
    background-color: red;
}

html{
    scroll-behavior: smooth;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.demo{
    font-size: 20px;
    font-weight: bold;
}

#dummy{
    font-size: 20px;
    font-weight: bold;
    color: #f30a0a;
}

@media{
    body{
        background-color: aqua;

    }
}